---
layout: default
---
<div><h2 class="title">{{ page.title }}</h2></div>

<div class="node">
	<div class="content">
		{{ content }}
		<br/>--EOF--<br/><br/>
		本文来源于 <a href="http://{{ site.domain }}/">XiaoHong (http://{{site.domain}}/)</a>, 转载请注明.</br>
		原文地址：<a href="http://{{ site.domain }}{{ page.url }}" >http://{{ site.domain }}{{ page.url }}</a>
	</div>

	{% assign post = page %}
	{% include post_tail.html %}
</div>

{% if site.related_posts.size > 0 %}
<hr style="border-width: 0pt 0pt 1px;" />
<h3>Related posts</h3>
<div class="node">
	<ul>
		{% for post in site.related_posts limit:3 %}
		<li><a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endif %}
<div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone" href="javascript:void(0);"></a><a title="分享到新浪微博" class="bshare-sinaminiblog" href="javascript:void(0);"></a><a title="分享到人人网" class="bshare-renren" href="javascript:void(0);"></a><a title="分享到腾讯微博" class="bshare-qqmb" href="javascript:void(0);"></a><a title="分享到豆瓣" class="bshare-douban" href="javascript:void(0);"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=ce681068-832d-43ff-89b1-59dc56306110&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
<hr style="border-width: 0pt 0pt 1px;" />

<div id="comments">
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'reedhong';
		var disqus_identifier = '{{ post.id }}';
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://reedhong.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		 })();
	 </script>
	 <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

 </div>


